
                <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}><span>My <strong>Education</strong></span></h2>
                <p class="f4 mb-3 {% if site.style == 'dark' %}text-white{% else %}text-shadow-light{% endif %}">The studies I have completed.</p>
                <div class="mx-auto timeline">
                {%- for degree in site.education %}
                    <div class="timeline-item">
                        <span class="timeline-icon">
                            {% octicon {{ degree.octicon }} width:16 class:"v-align-middle icon" %}
                        </span>
                        <div class="timeline-content text-shadow-light {% cycle 'left', 'right'%}">
                            <h5 class="degree-type">{{ degree.type }}</h5>
                            <h3>{{ degree.title }}</h3>
                            <h4><span>Thesis:</span> &ldquo;{{ degree.thesis }}&rdquo;</h4>
                            <h4><span>Final mark:</span> {{ degree.mark }}</h4>
                            <p class="h5"><span>Language:</span> {{ degree.language }}</p>
                            <p class="h5">{{ degree.where }}</p>
                            <p class="h5 timeline-date">{{ degree.date }}</p>
                        </div>
                    </div>
                {%- endfor %}
                </div>