        <footer class="footer p-responsive text-center" >
            <div class="container-lg pb-3">
                <hr class="mt-0" />
                Copyright &copy; {{ 'now' | date: "%Y" }} <a href="#" title="Back to top">Riccardo Ostani</a> (<a href="https://github.com/rikyoz" title="Riccardo Ostani's GitHub profile" target="_blank" rel="noopener">@rikyoz</a>)<br/>
                Designed by <a href="#" title="Back to top">me</a> on top of &nbsp;{% octicon octoface height:16 aria-label:github.dev %} <a href="https://github.dev/" title="github.dev" target="_blank" rel="noopener">github.dev</a>
            </div>
        </footer>
    </body>
</html>