{%- assign icon_color = "#ffffff" %}
{%- assign content = page.content %}
{%- assign posts_total = site.posts | size %}
{%- assign user = site.github.owner %}
{%- if page.path contains '_posts' %}
    {%- assign page_title = page.title %}
    {%- assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{%- else %}
    {%- if site.title -%}
        {%- assign page_title = site.title %}
    {%- else -%}
        {%- assign page_title = user.name %}
    {%- endif %}
    {%- if site.description -%}
        {%- assign page_title = page_title %}
        {%- assign meta_description = site.description | strip_html | strip_newlines | xml_escape | truncate: 300 %}
    {%- else %}
        {%- assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
    {%- endif %}
{%- endif -%}
<!doctype html>
<html class="min-height-full" lang="en">
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src 'self' https://unpkg.com/ https://fonts.gstatic.com/ https://cdnjs.cloudflare.com/; img-src 'self' https://avatars2.githubusercontent.com/; object-src 'none'; script-src 'sha256-meWBtO4oeDMH+A8uRxb7kTAenG25LZH2XPpDoMMAIRs=' https://www.googletagmanager.com/ https://www.google-analytics.com/; style-src 'self' https://unpkg.com/ https://fonts.googleapis.com/; base-uri 'self'; form-action 'self'">
        <link href="//fonts.googleapis.com/" rel="preconnect" crossorigin>
        <link href="//fonts.googleapis.com/" rel="dns-prefetch" crossorigin>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="author" content="{{ site.author }}">
        <meta name="description" content="{{ meta_description }}">
        <meta name="keywords" content="{{ site.keywords }}">
        <meta property="og:title" content="{%- if site.title -%}{{ site.title }}{%- else -%}{{ user.name }}{% endif %}" />
        <meta property="og:image" content="{{ user.avatar_url }}">
        <meta property="og:image:width" content="460">
        <meta property="og:image:height" content="460">
        <meta property="og:description" content="{{ meta_description }}">
        <meta property="og:site_name" content="{%- if site.title -%}{{ site.title }}{%- else -%}{{ user.name }}{% endif %}">
        <meta property="og:type" content="profile">
        <meta property="og:url" content="{{ site.url }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="{{ site.url }}">
        {%- if site.social_media and site.social_media.twitter %}
        <meta name="twitter:site" content="@{{ site.social_media.twitter }}">
        <meta name="twitter:creator" content="@{{ site.social_media.twitter }}">
        {%- endif %}
        <meta name="twitter:title" content="{{ page_title }}">
        <meta name="twitter:description" content="{{ meta_description }}">
        <meta name="twitter:image" content="{{ user.avatar_url }}">
        <meta name="twitter:image:src" content="{{ user.avatar_url }}">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta name="no-email-collection" content="https://www.unspam.com/noemailcollection" />
        <meta name="theme-color" content="#24292e" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;display=swap" rel="stylesheet" crossorigin="anonymous">
        {%- comment %}
        <link href="//fonts.googleapis.com/css?family=Lato:700|Open+Sans&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/@primer/css/dist/core.css" rel="stylesheet" />
        <link href="https://unpkg.com/@primer/css/dist/avatars.css" rel="stylesheet" />
        {% endcomment %}
        <link href="https://unpkg.com/@primer/css@14.4.0/dist/primer.css" rel="stylesheet" integrity="sha384-kg6kqLSMDJ5J+CT9WEUpmYm7cYZE8aSAHeL1HbhV0D6c0vK5T/II3aY7KluUWZZ5" crossorigin="anonymous"/>
        <link href="{{ "/assets/css/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
    </head>
    <body class="min-height-full" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>