{%- if site.layout == 'stacked' %}
    {%- assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0 noselect v-align-middle' %}
{%- else %}
    {%- assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{%- endif %}
                <img src="{{ user.avatar_url }}" class="mb-2 CircleBadge CircleBadge--large mx-auto CircleBadge-icon" alt="{{ user.name }}'s Avatar">
                <h1 class="text-white mb-2 lh-condensed">
                {%- if site.title -%}
                {{ site.title }}
                {%- else if user.name -%}
                {{ user.name }}
                {%- else -%}
                {{ user.login }}
                {%- endif -%}
                </h1>
                <p class="mb-3 f3 text-white">
                {%- if site.description -%}
                {{- site.description | strip_newlines -}}
                {%- else -%}
                {{- user.bio | strip_newlines -}}
                {%- endif -%}
                </p>
{%- if include.metadata %}
                {%- if user.location %}
                <div class="{{ metadata_styles }} f4 text-white">
                    {% octicon location height:20 fill:{{ icon_color }} aria-label:Location %}
                    {{ user.location }}
                </div>
                {%- endif %}
                <div class="f4 mt-3 mb-4">
                    {%- include socials.html %}
                </div>
{%- endif %}