{%- if site.layout == 'stacked' %}
    {%- assign metadata_styles = 'd-md-inline-block mx-2 mb-1 mb-md-0 noselect v-align-middle' %}
{%- else %}
    {%- assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{%- endif %}
                <img src="{{ user.avatar_url }}" class="mb-2 CircleBadge CircleBadge--large mx-auto CircleBadge-icon" style="padding: 6px" alt="{{ user.name }}'s Avatar">
                <h1 class="text-white mb-2 lh-condensed">
                {%- if site.title -%}
                {{ site.title }}
                {%- else if user.name -%}
                {{ user.name }}
                {%- else -%}
                {{ user.login }}
                {%- endif -%}
                </h1>
                <p class="mb-3 f3 text-white">
                {%- if site.description -%}
                {{- site.description | strip_newlines -}}
                {%- else -%}
                {{- user.bio | strip_newlines -}}
                {%- endif -%}
                </p>
{%- if include.metadata %}
                {%- if user.location %}
                <div class="{{ metadata_styles }} f4 text-white">
                    {% octicon location height:20 fill:{{ icon_color }} aria-label:Location %}
                    {{ user.location }}
                </div>
                {%- endif %}
                <div class="f4 mt-3 mb-4">
                    {%- if user.name %}
                    <a href="https://github.com/{{ user.login }}" class="{{ metadata_styles }}" rel="nofollow noopener noreferrer" target="_blank" title="GitHub: {{ user.login }}">
                        {% octicon mark-github height:20 fill:{{ icon_color }} aria-label:GitHub %}
                    </a>
                    {%- endif -%}
                    {%- if site.social_media -%}
                    {%- for account in site.social_media -%}
                    {%- assign service_shortname = account[0] -%}
                    {%- assign service = site.data.social_media[service_shortname] %}
                    <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="{{ metadata_styles }}" aria-label="{{ service.name }}" target="_blank" rel="nofollow noopener noreferrer" title="{{ service.name }}: {{ account[1] }}">
                        {{ service.icon_svg }}
                    </a>
                    {%- endfor -%}
                    {%- endif -%}
                    {%- if user.hireable -%}
                    <span title="Hire me" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">Available for hire</span>
                    {%- endif %}
                </div>
{%- endif %}