
                    <div class="github-component box-shadow-medium d-flex flex-column flex-justify-between height-full {% if site.style == 'dark' %}box-shadow{% else %}text-shadow-light border border-gray-light{% endif %} rounded-1 p-3 repo {{ repository.language | downcase | replace: '++', 'pp' }}">
                        <h3 class="mb-1 f4 lh-condensed text-left">
                            <a href="{{ repository.html_url }}" itemprop="url" title="{{ repository.name }}">
                                {% octicon repo height:20 class:"mr-1 v-align-middle icon" fill:"#586069" aria-label:repository role:img %}
                                <span itemprop="name">{{ repository.name }}</span>
                            </a>
                        </h3>
                        <div class="height-full mb-2 ws-normal text-left" itemprop="description">{{ repository.description }}</div>
                        <div class="f6 text-left">
                            {%- if repository.language %}
                            <span class="language d-inline-block mr-4">
                                {% octicon code height:16 class:"mr-1 icon" fill:"#586069" aria-hidden:true role:img %}
                                {{ repository.language }}
                            </span>
                            {%- endif %}
                            {%- if repository.stargazers_count %}
                            <a href="{{ repository.html_url }}/stargazers" title="{{ repository.name }}'s stars: {{ repository.stargazers_count }}" class="d-inline-block link-white {% if repository.stargazers_count > 5 %}text-bold{% endif %} mr-4">
                                {% octicon star height:16 class:"mr-1 icon" fill:"#586069" aria-hidden:true role:img %}
                                {{ repository.stargazers_count }}
                            </a>
                            {%- endif %}
                            {%- if repository.forks_count %}
                            <a href="{{ repository.html_url }}/network/members" title="{{ repository.name }}'s forks: {{ repository.forks_count }}" class="d-inline-block link-white {% if repository.forks_count > 5 %}text-bold{% endif %} mr-4">
                                {% octicon git-branch height:16 class:"mr-1 icon" fill:"#586069" aria-hidden:true role:img %}
                                {{ repository.forks_count }}
                            </a>
                            {%- endif %}
                        </div>
                    </div>