
                <h2{% if site.style == 'dark' %} class="text-white"{% endif %}><span>My <strong>Skills</strong></span></h2>
                <p class="f4 mb-2 {% if site.style == 'dark' %}text-white{% else %}text-shadow-light{% endif %}">Some of the technologies I use most frequently.</p>
                <div class="d-sm-flex flex-wrap gutter-condensed mb-4 skills">
                {%- for category in site.skills %}
                    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3 mx-auto" itemscope itemtype="https://schema.org/ItemList">
                        <meta itemprop="itemListOrder" content="Unordered" />
                        <h3 itemprop="name">{{ category[0] | capitalize }}</h3>
                        <ul class="noselect">
                            {%- for skill in category[1] %}
                            <li class="f4" itemprop="itemListElement" itemscope itemtype="https://schema.org/Text">{{ skill }}</li>
                            {%- endfor %}
                        </ul>
                    </div>
                {%- endfor %}
                </div>