---
---
//$theme-color: #0288d1; //Material Light Blue 700
//$theme-color: #0277BD; //Material Light Blue 800
$theme-color: #1976D2; //Material Blue 700
//$theme-color: #1565C0; //Material Blue 800
//$theme-color: #0366d6; //GitHub Primer Blue 500
$dark-theme-color: #37474F; //Material Blue Gray 800
//lighten(#263238, 10%);//#263238; //Material Blue Gray 900
$light-theme-color: #ECEFF1; //Material Blue Gray 50

*::selection {
    text-shadow: none;
    background-color: rgba($theme-color, 0.99);
    color: $light-theme-color;
}

*::-moz-selection {
    text-shadow: none;
    background-color: $theme-color;
    color: $light-theme-color;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    //overflow: overlay;
    background-color: $light-theme-color !important;
    color: $dark-theme-color;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-display: swap;
    font-smoothing: antialiased;
    font-variant: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;

    &::-webkit-scrollbar {
        width: 0.8em;
    }

    &::-webkit-scrollbar-track {
        background: rgba(39, 48, 53, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(55, 63, 71);
        outline: 1px solid slategrey;
        border-radius: 0.375em;
    }
}

main a, footer a {
    color: $dark-theme-color;
}

header {
    position: relative;
    overflow: hidden;
    background-color: #1b2226;
    background-image: url("../assets/headerbg6.webp");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 0.5em rgba(39, 48, 53, 0.6);
    text-shadow: 0 2px 10px #000;

    .CircleBadge {
        box-shadow: 0 2px 10px #000;
        padding: 6px;
        z-index: 1;
    }

    .CircleBadge--large {
        width: 156px;
    }

    a {
        color: white;
        text-decoration: none;
        max-width: 25px;

        &:hover {
            text-decoration: none;
        }

        svg {
            opacity: 0.5;
            transition: opacity ease-in 250ms;
            -ms-transition: opacity ease-in 250ms;
            -moz-transition: opacity ease-in 250ms;
            -webkit-transition: opacity ease-in 250ms;
            vertical-align: text-bottom;

            &:hover {
                opacity: 1.0;
            }
        }
    }

    h2 {
        font-weight: 400;
    }
}

/* IE9, IE10, IE11 */
@media screen and (min-width:0\0) {
    .CircleBadge { border: solid white; }
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
}

@mixin linear_gradient($direction, $list...) {
    background-image: -webkit-linear-gradient($direction, $list);
    background-image:    -moz-linear-gradient($direction, $list);
    background-image:     -ms-linear-gradient($direction, $list);
    background-image:      -o-linear-gradient($direction, $list);
    background-image:         linear-gradient($direction, $list);
}

@mixin horizontal_line() {
    @include linear_gradient(left, rgba(0,0,0,0), $theme-color, rgba(0,0,0,0));
}

main {
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        color: $dark-theme-color;
        text-shadow: 1px 1px 3px rgba($dark-theme-color, 0.4);
        font-weight: normal;
        margin: 10px 0;

        &::before, &::after {
            content: '';
            flex: 1 0 20px;
            height: 1px;
        }

        &::before {
            margin-right: 10px;
            @include linear_gradient(left, rgba(0,0,0,0), $theme-color);
        }

        &::after {
            margin-left: 10px;
            @include linear_gradient(left, $theme-color, rgba(0,0,0,0));
        }
    }

    div > .f4 {
        color: $dark-theme-color !important;
    }
}

h2 strong {
    font-weight: 700 !important;
    background-color: $theme-color;
    color: white;
    padding: 1px 6px;
    border-radius: 4px;
}

.min-height-full {
    min-height: 100vh;
}

#about-me {
    p {
        text-align: justify;
    }

    br {
        content: "";
        display: block;
        margin: 0.25rem 0;
    }

    .wave {
        cursor: default;
        animation-name: wave-animation;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        transform-origin: 70% 70%;
        display: inline-block;

        &:hover {
            animation-name: wave-animation;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            transform-origin: 70% 70%;
        }
    }

    @keyframes wave-animation {
          0% { transform: rotate(  0.0deg) }
         10% { transform: rotate(-10.0deg) }
         20% { transform: rotate( 12.0deg) }
         30% { transform: rotate(-10.0deg) }
         40% { transform: rotate(  9.0deg) }
         50% { transform: rotate(  0.0deg) }
        100% { transform: rotate(  0.0deg) }
    }
}

#about-me, footer {
    a {
        font-weight: 600;
        transition: color ease-in 250ms;
        -ms-transition: color ease-in 250ms;
        -webkit-transition: color ease-in 250ms;

        &:hover {
            color: $theme-color;
        }
    }
}

.portfolio {
    &:hover {
        .repo {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}

@font-face {
    font-family: 'devicon';
    src:url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.eot?-hdf3wh');
    src:url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.eot?#iefix-hdf3wh') format('embedded-opentype'),
        url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.woff?-hdf3wh') format('woff'),
        url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.ttf?-hdf3wh') format('truetype'),
        url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.svg?-hdf3wh#devicon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin repo-color($color, $icon) {
    position: relative;
    color: darken($color, 25%);
    background-color: fade-out($color, 0.9);
    border-color: fade-out($color, 0.5) !important;
    overflow: hidden;

    &::before {
        content: $icon;
        display: block;
        text-shadow: none;
        color: fade-out($color, 0.8);
        font-family: 'devicon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 8em;
        position: absolute;
        bottom: -10px;
        right: -10px;
        z-index: 0;
        pointer-events: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    > div {
        z-index: 100;
    }

    .language {
        color: darken($color, 25%);
    }

    .icon {
        fill: darken($color, 25%);
        background: transparent;
    }

    a {
        color: darken($color, 25%);
    }
}

.repo {
    background-color: fade-out(#4078c0, 0.9);
    background-clip: border-box;
    border-style: solid;
    border-width: 1px;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;

    a {
        color: #4078c0;
        text-decoration: none;
    }

    .icon {
        background: transparent;
    }

    &.html {
        @include repo-color(#F16529, "\e7f7");
    }

    &.css {
        @include repo-color(#29A9DF, "\e679");
    }

    &.javascript {
        @include repo-color(#E8C917, "\e845");
    }

    &.php {
        @include repo-color(#617CBE, "\eb71");
    }

    &.c {
        @include repo-color(#555555, "\e639");
    }

    &.cpp {
        @include repo-color(#f34b7d, "\e635");
    }

    &.python {
        @include repo-color(#3572A5, "\eb89");
    }
}

#skills {
    text-align: center;

    h3 {
        text-transform: capitalize;
        color: $theme-color;
        font-weight: 600;
        margin-bottom: 2px;
    }

    ul {
        cursor: default;
        list-style: none;
        display: inline-block;
        text-align: center;

        &:hover {
            li {
                opacity: 0.5;

                &:hover{
                    opacity: 1.0;
                }
            }
        }
    }

    li {
        display: inline-block;
        width: fit-content;
        background-color: $theme-color;
        text-shadow: 1px 1px 3px rgba($dark-theme-color, 0.4);
        border-radius: 4px;
        padding: 2px 8px;
        margin-bottom: 4px;
        color: white;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s;
    }
}

#education > div {
    display: inline-block;
    text-align: left;
}

$timeline-color: #B0BEC5;
$timeline-width: 1px;
$timeline-transition: all 0.25s ease-in;
$timeline-item-card-bg: white;
$timeline-item-card: false;
$timeline-item-card-radius: 8px;

%clearfix {
    &::after, &::before {
        clear: both;
        content: '';
        display: block;
        width: 100%;
    }
}

  // Timeline
.timeline {
    $icon-size: 28px;
    position: relative;
    transition: $timeline-transition;
    width: 100%;

    &::before {
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        background-image:      -o-linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        background-image:         linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        width: $timeline-width;
    }

    &::after {
        clear: both;
        content: '';
        display: table;
        width: 100%;
    }

    a {
        font-weight: bold;
        transition: $timeline-transition;

        &:hover {
            transition: $timeline-transition;
        }
    }

    .timeline-item {
        margin-bottom: 50px;
        position: relative;
        @extend %clearfix;

        .timeline-icon {
            background-color: $theme-color;
            border-radius: 50%;
            width: $icon-size;
            height: $icon-size;
            left: 50%;
            top: 50%;
            margin-left: -($icon-size - $timeline-width)/2;
            margin-top: -$icon-size/2;
            overflow: hidden;
            position: absolute;
            color: white;
            text-align: center;
            border: 0.20rem solid white;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 rgba(0, 0, 0, 0.1);

            svg {
                margin-top: -1px;
            }
        }

        .timeline-content {
            color: $dark-theme-color !important;
            padding: 0;
            text-align: right;
            transition: $timeline-transition;
            width: 47%;

            p {
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 0;
            }

            span {
                font-weight: normal;
                opacity: 0.9;
            }

            h3 {
                color: $theme-color;
            }

            .degree-type {
                display:inline-block;
                text-shadow: 1px 1px 3px rgba($dark-theme-color, 0.4);
                background-color: $theme-color;
                border-radius: 4px;
                padding: 2px 6px;
                color: white;
            }

            .timeline-content-date {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 0;
            }

            .timeline-content-month {
                font-size: rem-calc(14);
                text-transform: uppercase;
                font-weight: 400;
            }

            &.right {
                float: right;
                text-align: left;

                .timeline-date::before {
                    content: '\2014\00a0';
                }
            }

            &.left .timeline-date::after {
                content: '\00a0\2014';
            }
        }
    }
  }


@media screen and (max-width: 39.9375em) {
    header .CircleBadge--large {
        width: 128px;
    }

    .timeline {
        margin: 0;
        padding: 0;
        width: 92%;

        &::before {
            left: 0;
        }

        .timeline-item {
            .timeline-content {
                float: right;
                text-align: left;
                width: 92%;

                &::before, &.right::before {
                    border-left: 0;
                    border-right: 7px solid $timeline-color;
                    left: 10%;
                    margin-left: -6px;
                }

                &.left .timeline-date::before {
                    content: '\2014\00a0';
                }

                &.left .timeline-date::after {
                    content: '';
                }
            }

            .timeline-icon {
                left: 0;
            }
        }
    }

    footer span {
        font-size: 16px !important;
    }
}

footer {
    // @include linear_gradient(top, rgba(0,0,0,0), rgba(0,0,0,0), rgba($theme-color, 0.05), rgba($theme-color, 0.08));

    hr {
        border: 0;
        height: 1px;
        @include horizontal_line();
    }

    .copyright a {
        display: inline-block;

        .octicon {
            margin-right: 4px;
        }
    }

    span {
        padding: 0 10px;
    }

    .html5-icon, .css3-icon, .icons svg {
        transition: ease-in 250ms;
        -ms-transition: ease-in 250ms;
        -webkit-transition: ease-in 250ms;
        /* line-height is 1.5, font-size is 14, there are two lines of text in central span:
           its height is then 2 * 1.5 * 14px = 42px. Now, some browser incorrectly set the height of svg icons, hence we
           must set the max height for them to be the same as the central span! */
        max-height: 42px;
        min-width: 32px;
    }

    .html5-icon:hover {
        filter: -webkit-drop-shadow(0 2px 5px rgba(228, 76, 38, 0.5));
        filter: -moz-drop-shadow(0 2px 5px rgba(228, 76, 38, 0.5));
        filter: -ms-drop-shadow(0 2px 5px rgba(228, 76, 38, 0.5));
        filter: -o-drop-shadow(0 2px 5px rgba(228, 76, 38, 0.5));
        filter: drop-shadow(0 2px 5px rgba(228, 76, 38, 0.5));
    }

    .css3-icon:hover { //Note: CSS3 icon blue color, no $theme-color!
        filter: -webkit-drop-shadow(0 2px 5px rgba(#1572B6, 0.5));
        filter: -moz-drop-shadow(0 2px 5px rgba(#1572B6, 0.5));
        filter: -ms-drop-shadow(0 2px 5px rgba(#1572B6, 0.5));
        filter: -o-drop-shadow(0 2px 5px rgba(#1572B6, 0.5));
        filter: drop-shadow(0 2px 5px rgba(#1572B6, 0.5));
    }

    .icons a {
        text-decoration: none;
        max-width: 25px;

        svg {
            fill: $dark-theme-color !important;
            vertical-align: text-bottom;

            &:hover {
                fill: $theme-color !important;
            }
        }
    }
}