---
---
//$theme-color: #0288d1; //Material Light Blue 700
//$theme-color: #0277BD; //Material Light Blue 800
$theme-color: #1976D2; //Material Blue 700
//$theme-color: #1565C0; //Material Blue 800
//$theme-color: #0366d6; //GitHub Primer Blue 500
$dark-theme-color: #263238; //Material Blue Gray 900
$light-theme-color: #ECEFF1; //Material Blue Gray 50

main a, footer a {
    color: $theme-color;
}

header {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 0.5em rgba(39, 48, 53, 0.6);
    text-shadow: 0 0 10px #000;

    .CircleBadge {
        box-shadow: 0 0 10px #000;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        svg {
            opacity: 0.5;
            transition: opacity ease-in 250ms;
            -webkit-transition: opacity ease-in 250ms;
            vertical-align: text-bottom;

            &:hover {
                opacity: 1.0;
                transition: opacity ease-in 250ms;
                -webkit-transition: opacity ease-in 250ms;
            }
        }
    }

    &::after {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        z-index: -1;
        padding-top: 15em;
        filter: blur(2px) brightness(65%);
        -webkit-filter: blur(2px) brightness(65%);
        background-color: #273136;
        background-image: url("../assets/headerbg4.webp");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

h1 {
    font-size: 2.4rem;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: overlay;
    background-color: $light-theme-color !important;

    &::-webkit-scrollbar {
        width: 0.75em;
    }

    &::-webkit-scrollbar-track {
        background: rgba(39, 48, 53, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(55, 63, 71);
        outline: 1px solid slategrey;
        border-radius: 0.375em;
    }
}

@mixin linear_gradient($direction, $list...) {
    background-image: -webkit-linear-gradient($direction, $list);
    background-image: -moz-linear-gradient($direction, $list);
    background-image: -o-linear-gradient($direction, $list);
    background-image: linear-gradient($direction, $list);
}

@mixin horizontal_line() {
    @include linear_gradient(left, rgba(0,0,0,0), $theme-color, rgba(0,0,0,0));
}

.p-responsive {
    h2 {
        width: 100%;
        color: $dark-theme-color;
        text-shadow: 1px 1px 3px rgba($dark-theme-color, 0.4);
        font-weight: normal;
        line-height: 1px;
        margin: 20px 0 20px 0;
        @include horizontal_line();

        span {
            background-color: $light-theme-color;
            padding: 0 10px;
        }
    }

    div > .f4 {
        color: $dark-theme-color !important;
    }

    hr {
        border: 0;
        height: 1px;
        @include horizontal_line();
    }
}

.emoji {
    width: 18px;
    height: auto;
    vertical-align: middle;
}

.article {
    h1, h2, h3, h4,
    .highlight {
        margin-bottom: 16px;
    }

    blockquote {
        color: #6a737d;
        border-left: 2px solid #959da5;
        padding-left: 16px;
        margin-bottom: 16px;
    }

    ul, ol {
        padding-left: 32px;
        margin-bottom: 16px;
    }

    li ul, li ol {
        padding-left: 16px;
        margin-bottom: 0px;
    }
}

.min-height-full {
    min-height: 100vh;
}

.portfolio {
    &:hover {
        .repo {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.f4 {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}

@font-face {
    font-family: 'devicon';
    src:url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.eot?-hdf3wh');
    src:url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.eot?#iefix-hdf3wh') format('embedded-opentype'),
        url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.woff?-hdf3wh') format('woff'),
        url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.ttf?-hdf3wh') format('truetype'),
        url('https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/fonts/devicon.svg?-hdf3wh#devicon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin repo-color($color, $icon) {
    position: relative;
    color: darken($color, 20%);
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    text-shadow: 1px 1px 1px white;
    background-color: fade-out($color, 0.9);
    border-color: fade-out($color, 0.5) !important;
    overflow: hidden;

    &::before {
        content: $icon;
        display: block;
        text-shadow: none;
        color: fade-out($color, 0.8);
        font-family: 'devicon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 8em;
        position: absolute;
        bottom: -10px;
        right: -10px;
        z-index: 0;
        pointer-events: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    > div {
        z-index: 100;
    }
    .language {
        color: darken($color, 20%);
    }
    .icon {
        fill: darken($color, 20%);
        background: transparent;
    }
    a {
        color: darken($color, 20%);
    }
}

.repo {
    background-color: fade-out(#4078c0, 0.9);
    background-clip: border-box;
    border-style: solid;
    border-width: 1px;
    -webkit-transition: .2s;
    transition: .2s;
    a {
        color: #4078c0;
        text-decoration: none;
    }
    .icon {
        background: transparent;
    }
    > span {
        display: block;
        text-align: center;
        width: 100%;
    }
    &.html {
        @include repo-color(#F16529, "\e7f7");
    }
    &.css {
        @include repo-color(#29A9DF, "\e679");
    }
    &.javascript {
        @include repo-color(#E8C917, "\e845");
    }
    &.php {
        @include repo-color(#617CBE, "\eb71");
    }
    &.c {
        @include repo-color(#555555, "\e639");
    }
    &.cpp {
        @include repo-color(#f34b7d, "\e635");
    }
    &.python {
        @include repo-color(#3572A5, "\eb89");
    }
}

.skills {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    text-align: center;

    h3 {
        text-transform: capitalize;
        color: $theme-color;
        text-shadow: 1px 1px 3px rgba($theme-color, 0.2);
        font-weight: 600;
        margin-bottom: 2px;
    }

    ul {
        cursor: default;
        list-style: none;
        display: inline-block;
        text-align: center;

        &:hover {
            li {
                opacity: 0.5;

                &:hover{
                    opacity: 1.0;
                }
            }
        }
    }

    li {
        display: inline-block;
        width: fit-content;
        background-color: $theme-color;
        border-radius: 4px;
        padding: 2px 8px;
        margin-bottom: 4px;
        color: white;
        font-weight: 500;
        -webkit-transition: .2s;
        transition: .2s;
    }
}

.education > div {
    display: inline-block;
    text-align: left;
}

$timeline-color: #B0BEC5;
$timeline-width: 1px;
$timeline-transition: all 0.25s ease-in;
$timeline-item-card-bg: white;
$timeline-item-card: false;
$timeline-item-card-radius: 8px;

%clearfix {
    &::after,
    &::before {
      clear: both;
      content: '';
      display: block;
      width: 100%;
    }
  }

  // Timeline
.timeline {
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    transition: $timeline-transition;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;

    &::before {
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        background-image:      -o-linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        background-image:         linear-gradient(top, rgba(0,0,0,0), $theme-color, $theme-color, $theme-color);
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        width: $timeline-width;
    }

    &::after {
        clear: both;
        content: '';
        display: table;
        width: 100%;
    }

    a {
        font-weight: bold;
        transition: $timeline-transition;

        &:hover {
            transition: $timeline-transition;
        }
    }

    .timeline-item {
        margin-bottom: 50px;
        position: relative;
        @extend %clearfix;

        .timeline-icon {
            $icon-size: 28px;
            background-color: $theme-color;
            border-radius: 50%;
            width: $icon-size;
            height: $icon-size;
            left: 50%;
            top: 50%;
            margin-left: -($icon-size - $timeline-width)/2;
            margin-top: -$icon-size/2;
            overflow: hidden;
            position: absolute;
            color: white;
            text-align: center;
            border: 0.20rem solid white;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 rgba(0, 0, 0, 0.1);

            svg {
                margin-top: -1px;
            }
        }

        .timeline-content {
            color: $dark-theme-color !important;
            padding: 0;
            text-align: right;
            transition: $timeline-transition;
            width: 47%;

            p {
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 0;
            }

            span {
                font-weight: normal;
                opacity: 0.9;
            }

            h3 {
                color: $theme-color;
                text-shadow: 1px 1px 3px rgba($theme-color, 0.2);
            }

            h5 {
                font-size: 0.9rem;
            }

            .degree-type {
                color: $theme-color;
            }

            .timeline-content-date {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 0;
            }

            .timeline-content-month {
                font-size: rem-calc(14);
                text-transform: uppercase;
                font-weight: 400;
            }

            &.right {
                float: right;
                text-align: left;

                .timeline-date::before {
                    content: '\2014\00a0';
                }
            }

            &.left .timeline-date::after {
                content: '\00a0\2014';
            }
        }
    }
  }


@media screen and (max-width: 39.9375em) {
    .timeline {
        margin: 0;
        padding: 0;
        width: 92%;

        &::before {
            left: 0;
        }

        .timeline-item {
            .timeline-content {
                float: right;
                text-align: left;
                width: 92%;

                &::before, &.right::before {
                    border-left: 0;
                    border-right: 7px solid $timeline-color;
                    left: 10%;
                    margin-left: -6px;
                }

                &.left .timeline-date::before {
                    content: '\2014\00a0';
                }

                &.left .timeline-date::after {
                    content: '';
                }
            }

            .timeline-icon {
                left: 0;
            }
        }
    }
}

footer {
    @include linear_gradient(top, rgba(0,0,0,0), rgba($theme-color, 0.05));
}