{%- include header.html %}
{%- if site.layout == 'stacked' %}
        <header class="header p-responsive text-center pt-4">
        {%- include masthead.html metadata=true %}
        </header>
        <main class="container-lg py-3 p-responsive text-center">
            {%- if content != blank %}
            {%- comment -%}
            <p class="f1 mb-5">Hello! <img src="assets/wave.png" height="28"/></p>
            {%- endcomment -%}
            <section id="about-me">
                <h2 {% if site.style == 'dark' %}text-white"{% endif %}><span>About <strong>Me</strong></span></h2>
                <p class="f3 px-4 mb-0 text-center text-shadow-light">Hello! <span class="wave" role="img" aria-label="waving hand">&#x1F44B;</span></p>
                <p class="f4 px-4 mb-3 text-shadow-light">
                {{ content }}
                </p>
            </section>
            {%- endif %}
            <section id="projects" class="mt-5">
                {%- include projects.html %}
            </section>
            <section id="skills" class="mt-5">
                {%- include skills.html %}
            </section>
            {%- if site.education %}
            <section id="education" class="mt-5">
                {%- include education.html %}
            </section>
            {%- endif %}
            {%- if site.topics %}
            <section class="interests mt-5">
                {%- include interests.html %}
            </section>
            {%- endif %}
            {%- unless posts_total == 0 %}
            <section class="mt-5">
                {%- include thoughts.html %}
            </section>
            {%- endunless %}
        </main>
{%- else %}
        <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">
            <div class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark{% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
                {% include masthead.html metadata=true %}
            </div>

            <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
                <div class="mx-auto" style="max-width: 900px;">
                {%- unless content == ""  %}
                    <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
                        {{ content }}
                    </div>
                {%- endunless %}

                {%- include projects.html %}

                {%- if site.topics %}
                {% include interests.html %}
                {%- endif %}

                {%- unless posts_total == 0 %}
                {% include thoughts.html %}
                {%- endunless %}
                </div>
            </div>
        </div>
{%- endif %}
{% include footer.html %}
